{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a
                            href="../../../pages/templates/pages/index.html">Trang chủ</a></span> <span>Thanh toán</span>
                    </p>
                    <h1 class="mb-0 bread">Thanh toán</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section">
        <div class="container">
            <form method="post" class="billing-form" onsubmit="disableSubmit(this)">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-xl-7 ftco-animate">
                        <h3 class="mb-4 billing-heading">Thông tin giao hàng</h3>
                        <div class="row align-items-end">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="full_name">Họ và tên</label>
                                    <input type="text" id="full_name" name="full_name" class="form-control"
                                           value="{{ form.full_name.value|default_if_none:'' }}" placeholder=""
                                           required>
                                </div>
                                {% if form.full_name.errors %}
                                    <div class="text-danger">
                                        {{ form.full_name.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="phone">Số điện thoại</label>
                                    <input type="text" id="phone" name="phone" class="form-control"
                                           value="{{ form.phone.value|default_if_none:'' }}" placeholder="" required>
                                </div>
                                {% if form.phone.errors %}
                                    <div class="text-danger">
                                        {{ form.phone.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="city">Tỉnh / Thành</label>
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="city" id="city" class="form-control" required>
                                            <option value="">Chọn tỉnh / thành</option>
                                            <option value="Thành phố Hồ Chí Minh">Thành phố Hồ Chí Minh</option>
                                            <option value="Hà Nội">Hà Nội</option>
                                            <option value="Tây Ninh">Tây Ninh</option>
                                        </select>
                                    </div>
                                    {% if form.city.errors %}
                                        <div class="text-danger">
                                            {{ form.city.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="district">Quận / Huyện</label>
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="district" id="district" class="form-control" required>
                                            <option value="">Chọn quận / huyện</option>
                                            <option value="Quận 12">Quận 12</option>
                                            <option value="Quận 1">Quận 1</option>
                                            <option value="Quận 11">Quận 11</option>
                                        </select>
                                    </div>
                                    {% if form.district.errors %}
                                        <div class="text-danger">
                                            {{ form.district.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ward">Phường / Xã</label>
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="ward" id="ward" class="form-control" required>
                                            <option value="">Chọn phường / xã</option>
                                            <option value="Phường An Phú Đông">Phường An Phú Đông</option>
                                            <option value="Phường An Phú">Phường An Phú</option>
                                            <option value="Phường 1">Phường 1</option>
                                        </select>
                                    </div>
                                    {% if form.ward.errors %}
                                        <div class="text-danger">
                                            {{ form.ward.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="address">Địa chỉ cụ thể</label>
                                    <input type="text" id="address" name="address" class="form-control"
                                           placeholder="Số nhà, tên đường,..."
                                           value="{{ form.address.value|default_if_none:'' }}" required>
                                </div>
                                {% if form.address.errors %}
                                    <div class="text-danger">
                                        {{ form.address.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="note">Ghi chú</label>
                                    <textarea name="note" id="note" class="form-control" placeholder=""
                                              rows="2">{{ form.note.value|default_if_none:'' }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="row mt-5 pt-3">
                            <div class="col-md-12 d-flex mb-5">
                                <div class="cart-detail cart-total p-3 p-md-4">
                                    <h3 class="billing-heading mb-4">Tổng giỏ hàng</h3>
                                    <p class="d-flex">
                                        <span>Tạm tính</span>
                                        <span>{{ subtotal }}₫</span>
                                    </p>
                                    <p class="d-flex">
                                        <span>Phí giao hàng</span>
                                        <span>{{ delivery }}₫</span>
                                    </p>
                                    <p class="d-flex">
                                        <span>Giảm giá</span>
                                        <span>{{ discount }}₫</span>
                                    </p>
                                    <hr>
                                    <p class="d-flex total-price">
                                        <span>Tổng cộng</span>
                                        <span>{{ total }}₫</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="cart-detail p-3 p-md-4">
                                    <h3 class="billing-heading mb-4">Phương thức thanh toán</h3>
                                    {% for value, label in form.fields.payment_method.choices %}
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="radio">
                                                    <label><input type="radio" name="payment_method" class="mr-2"
                                                                  value="{{ value }}"
                                                                  {% if form.payment_method.value == value %}checked{% endif %}
                                                                  required>{{ label }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% if form.payment_method.errors %}
                                        <div class="text-danger">
                                            {{ form.payment_method.errors }}
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="" class="mr-2" required> Tôi đã đọc và đồng ý với các điều khoản</label>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <button type="submit" class="btn btn-primary py-3 px-4">
                                            Đặt hàng
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .col-md-8 -->
                </div>
            </form>
        </div>
    </section> <!-- .section -->
    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-6">
                    <h2 style="font-size: 22px;" class="mb-0">Đăng ký nhận bản tin</h2>
                    <span>Nhận thông tin mới nhất về cửa hàng và ưu đãi đặc biệt qua email</span>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <label for="newsletter_email" class="sr-only">Email</label>
                            <input type="text" id="newsletter_email" class="form-control" placeholder="Nhập địa chỉ email">
                            <input type="submit" value="Đăng ký" class="submit px-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready(function () {

            var quantitiy = 0;
            $('.quantity-right-plus').click(function (e) {

                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity = parseInt($('#quantity').val());

                // If is not undefined

                $('#quantity').val(quantity + 1);


                // Increment

            });

            $('.quantity-left-minus').click(function (e) {
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity = parseInt($('#quantity').val());

                // If is not undefined

                // Increment
                if (quantity > 0) {
                    $('#quantity').val(quantity - 1);
                }
            });

        });
    </script>
{% endblock scripts %}