{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a
                            href="../../../pages/templates/pages/index.html">Home</a></span> <span>Checkout</span>
                    </p>
                    <h1 class="mb-0 bread">Checkout</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <form action="{% url 'place_order' %}" method="post" class="billing-form">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-xl-7 ftco-animate">
                        <h3 class="mb-4 billing-heading">Thông tin giao hàng</h3>
                        <div class="row align-items-end">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Họ và tên</label>
                                    <input type="text" name="full_name" class="form-control"
                                           value="{{ form.full_name.value|default:'' }}" placeholder="">
                                </div>
                                {% if form.full_name.errors %}
                                    <div class="text-danger">
                                        {{ form.full_name.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input type="text" name="phone" class="form-control"
                                           value="{{ form.phone.value|default:'' }}" placeholder="">
                                </div>
                                {% if form.phone.errors %}
                                    <div class="text-danger">
                                        {{ form.phone.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Tỉnh / Thành</label>
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="city" id="" class="form-control">
                                            <option value="">Chọn tỉnh / thành</option>
                                            <option value="Thành phố Hồ Chí Minh">Thành phố Hồ Chí Minh</option>
                                            <option value="Hà Nội">Hà Nội</option>
                                            <option value="Tây Ninh">Tây Ninh</option>
                                        </select>
                                    </div>
                                    {% if form.city.errors %}
                                        <div class="text-danger">
                                            {{ form.city.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Quận / Huyện</label>
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="district" id="" class="form-control">
                                            <option value="">Chọn quận / huyện</option>
                                            <option value="Quận 12">Quận 12</option>
                                            <option value="Quận 1">Quận 1</option>
                                            <option value="Quận 11">Quận 11</option>
                                        </select>
                                    </div>
                                    {% if form.district.errors %}
                                        <div class="text-danger">
                                            {{ form.district.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Phường / Xã</label>
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="ward" id="" class="form-control">
                                            <option value="">Chọn phường / xã</option>
                                            <option value="Phường An Phú Đông">Phường An Phú Đông</option>
                                            <option value="Phương An Phú">Phường An Phú</option>
                                            <option value="Phường 1">Phường 1</option>
                                        </select>
                                    </div>
                                    {% if form.ward.errors %}
                                        <div class="text-danger">
                                            {{ form.ward.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Địa chỉ cụ thể</label>
                                    <input type="text" name="address" class="form-control"
                                           placeholder="Số nhà, tên đường,..."
                                           value="{{ form.address.value|default:'' }}"
                                    >
                                </div>
                                {% if form.address.errors %}
                                    <div class="text-danger">
                                        {{ form.address.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="note">Ghi chú</label>
                                    <textarea name="note" class="form-control" placeholder=""
                                              rows="2">{{ form.note.value|default:'' }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="row mt-5 pt-3">
                            <div class="col-md-12 d-flex mb-5">
                                <div class="cart-detail cart-total p-3 p-md-4">
                                    <h3 class="billing-heading mb-4">Cart Total</h3>
                                    <p class="d-flex">
                                        <span>Subtotal</span>
                                        <span>{{ subtotal }}₫</span>
                                    </p>
                                    <p class="d-flex">
                                        <span>Delivery</span>
                                        <span>0₫</span>
                                    </p>
                                    <p class="d-flex">
                                        <span>Discount</span>
                                        <span>0₫</span>
                                    </p>
                                    <hr>
                                    <p class="d-flex total-price">
                                        <span>Total</span>
                                        <span>{{ total }}₫</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="cart-detail p-3 p-md-4">
                                    <h3 class="billing-heading mb-4">Phương thức thanh toán</h3>
                                    {% for value, label in form.fields.payment_method.choices %}
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="radio">
                                                    <label><input type="radio" name="payment_method" class="mr-2"
                                                                  value="{{ value }}"
                                                                  {% if form.payment_method.value == value %}checked{% endif %}>{{ label }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% if form.payment_method.errors %}
                                        <div class="text-danger">
                                            {{ form.payment_method.errors }}
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="" class="mr-2"> I have read and
                                                    accept
                                                    the
                                                    terms and conditions</label>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <button type="submit" class="btn btn-primary py-3 px-4"
                                                onclick="this.disabled=true; this.innerText='Đang xử lý...'; this.form.submit();">
                                            Place an order
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .col-md-8 -->
                </div>
            </form>
        </div>
    </section> <!-- .section -->

    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-6">
                    <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                    <span>Get e-mail updates about our latest shops and special offers</span>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control" placeholder="Enter email address">
                            <input type="submit" value="Subscribe" class="submit px-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready(function () {

            var quantitiy = 0;
            $('.quantity-right-plus').click(function (e) {

                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity = parseInt($('#quantity').val());

                // If is not undefined

                $('#quantity').val(quantity + 1);


                // Increment

            });

            $('.quantity-left-minus').click(function (e) {
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity = parseInt($('#quantity').val());

                // If is not undefined

                // Increment
                if (quantity > 0) {
                    $('#quantity').val(quantity - 1);
                }
            });

        });
    </script>
{% endblock scripts %}