{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a
                            href="../../../pages/templates/pages/index.html">Trang chủ</a></span> <span>Tin tức</span></p>
                    <h1 class="mb-0 bread">Tin tức</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    <div class="row">
                        {% for post in posts %}
                        <div class="col-md-12 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <a href="{% url 'blog_single' post.id %}" class="block-20"
                                   style="background-image: url({{ post.image.url }});">
                                </a>
                                <div class="text d-block pl-md-4">
                                    <div class="meta mb-3">
                                        <div><a href="#">{{ post.date|date:'d/m/Y' }}</a></div>
                                        <div><a href="#">{{ post.author }}</a></div>
                                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> {{ post.comments.count }}</a></div>
                                    </div>
                                    <h3 class="heading"><a href="{% url 'blog_single' post.id %}">{{ post.title }}</a></h3>
                                    <p>{{ post.summary }}</p>
                                    <p><a href="{% url 'blog_single' post.id %}" class="btn btn-primary py-2 px-3">Xem thêm</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div> <!-- .col-md-8 -->
                <div class="col-lg-4 sidebar ftco-animate">
                    <div class="sidebar-box">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon ion-ios-search"></span>
                                <input type="text" class="form-control" placeholder="Tìm kiếm...">
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading">Danh mục</h3>
                        <ul class="categories">
                            <li><a href="#">Rau củ <span>(12)</span></a></li>
                            <li><a href="#">Trái cây <span>(22)</span></a></li>
                            <li><a href="#">Nước ép <span>(37)</span></a></li>
                            <li><a href="#">Sấy khô <span>(42)</span></a></li>
                        </ul>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading">Bài viết mới</h3>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4"
                               style="background-image: url({% static 'images/image_1.jpg' %});"></a>
                            <div class="text">
                                <h3 class="heading-1"><a href="#">Điểm mạnh của Pointing không kiểm soát được các văn bản mù</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> 09/04/2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4"
                               style="background-image: url({% static 'images/image_2.jpg' %});"></a>
                            <div class="text">
                                <h3 class="heading-1"><a href="#">Điểm mạnh của Pointing không kiểm soát được các văn bản mù</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> 09/04/2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4"
                               style="background-image: url({% static 'images/image_3.jpg' %});"></a>
                            <div class="text">
                                <h3 class="heading-1"><a href="#">Điểm mạnh của Pointing không kiểm soát được các văn bản mù</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> 09/04/2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading">Từ khóa</h3>
                        <div class="tagcloud">
                            <a href="#" class="tag-cloud-link">trái cây</a>
                            <a href="#" class="tag-cloud-link">cà chua</a>
                            <a href="#" class="tag-cloud-link">xoài</a>
                            <a href="#" class="tag-cloud-link">táo</a>
                            <a href="#" class="tag-cloud-link">cà rốt</a>
                            <a href="#" class="tag-cloud-link">cam</a>
                            <a href="#" class="tag-cloud-link">ớt</a>
                            <a href="#" class="tag-cloud-link">cà tím</a>
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading">Đoạn văn</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem
                            necessitatibus
                            voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur
                            similique, inventore eos fugit cupiditate numquam!</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock content %}