{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a
                            href="../../../pages/templates/pages/index.html">Home</a></span> <span>Products</span>
                    </p>
                    <h1 class="mb-0 bread">Products</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 mb-5 text-center">
                    <ul class="product-category">
                        <li><a href="{% url 'shop-all-products' %}"
                               class="{% if current_category == None %} active {% endif %}">All</a></li>
                        {% for category in categories %}
                            <li><a href="{{ category.get_absolute_url }}"
                                   class="{% if current_category == category %} active {% endif %}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="{{ product.get_absolute_url }}" class="img-prod"><img class="img-fluid"
                                                                                           src="{{ product.image.url }}"
                                                                                           alt="Colorlib Template">
                                {% if product.get_discount_percentage != 0 %}
                                    <span class="status">-{{ product.get_discount_percentage }}%</span>
                                {% endif %}
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="#">{{ product.name }}</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        {% if product.get_discount_percentage != 0 %}
                                            <p class="price"><span
                                                    class="mr-2 price-dc">{{ product.base_price }}₫</span><span
                                                    class="price-sale">{{ product.get_promotional_price }}₫</span>
                                            </p>
                                        {% else %}
                                            <p class="price"><span>{{ product.base_price }}₫</span></p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        <a href="#"
                                           class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                            <span><i class="ion-ios-menu"></i></span>
                                        </a>
                                        <a href="#"
                                           class="buy-now d-flex justify-content-center align-items-center mx-1">
                                            <span><i class="ion-ios-cart"></i></span>
                                        </a>
                                        <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="ion-ios-heart"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                           {% if products.has_previous %}
                                <li><a href="?page={{ products.previous_page_number }}">&lt;</a></li>
                            {% else %}
                                <li class="disabled"><span>&lt;</span></li>
                            {% endif %}

                            {% for num in products.paginator.page_range %}
                                {% if num == products.number %}
                                    <li class="active"><span>{{ num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if products.has_next %}
                                <li><a href="?page={{ products.next_page_number }}">&gt;</a></li>
                            {% else %}
                                <li class="disabled"><span>&gt;</span></li>
                             {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-6">
                    <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                    <span>Get e-mail updates about our latest shops and special offers</span>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control" placeholder="Enter email address">
                            <input type="submit" value="Subscribe" class="submit px-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}