{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a
                            href="../../../pages/templates/pages/index.html">Trang chủ</a></span> <span>Sản phẩm</span>
                    </p>
                    <h1 class="mb-0 bread">Sản phẩm</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 mb-5 text-center">
                    <ul class="product-category">
                        <li><a href="{% url 'shop_all_products' %}"
                               class="{% if current_category == None %} active {% endif %}">Tất cả</a></li>
                        {% for c in categories %}
                            <li><a href="{{ c.get_absolute_url }}"
                                   class="{% if current_category == c %} active {% endif %}">{{ c.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                {% for p in products %}
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="{{ p.get_absolute_url }}" class="img-prod"><img class="img-fluid"
                                                                                     src="{{ p.image.url }}"
                                                                                     alt="Ảnh sản phẩm">
                                {% if p.get_discount_percentage_preview != 0 %}
                                    <span class="status">-{{ p.get_discount_percentage_preview }}%</span>
                                {% endif %}
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        {% if p.get_discount_percentage_preview != 0 %}
                                            <p class="price"><span
                                                    class="mr-2 price-dc">{{ p.base_price }}₫</span><span
                                                    class="price-sale">{{ p.get_discount_price_preview }}₫</span>
                                            </p>
                                        {% else %}
                                            <p class="price"><span>{{ p.base_price }}₫</span></p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        <a href="#"
                                           class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                            <span><i class="ion-ios-menu"></i></span>
                                        </a>
                                        <a href="{% url 'add_to_cart' p.id %}"
                                           class="buy-now d-flex justify-content-center align-items-center mx-1">
                                            <span><i class="ion-ios-cart"></i></span>
                                        </a>

                                        {% if user.is_authenticated %}
                                            <form method="post" action="{% url 'wishlist_toggle' p.id %}" class="m-0 p-0">
                                                {% csrf_token %}
                                                <a href="#" onclick="this.closest('form').submit(); return false;"
                                                   class="heart d-flex justify-content-center align-items-center ">
                                                    <span>
                                                        <i class="ion-ios-heart" {% if p.id in wishlist_product_ids %}style="color: #e3342f;"{% endif %}></i>
                                                    </span>
                                                </a>
                                            </form>
                                        {% else %}
                                            <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}"
                                               class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            {% if products.has_previous %}
                                <li><a href="?page={{ products.previous_page_number }}">&lt;</a></li>
                            {% else %}
                                <li class="disabled"><span>&lt;</span></li>
                            {% endif %}

                            {% for num in products.paginator.page_range %}
                                {% if num == products.number %}
                                    <li class="active"><span>{{ num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if products.has_next %}
                                <li><a href="?page={{ products.next_page_number }}">&gt;</a></li>
                            {% else %}
                                <li class="disabled"><span>&gt;</span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-6">
                    <h2 style="font-size: 22px;" class="mb-0">Đăng ký nhận bản tin</h2>
                    <span>Nhận thông tin mới nhất về cửa hàng và ưu đãi đặc biệt qua email</span>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control" placeholder="Nhập địa chỉ email">
                            <input type="submit" value="Đăng ký" class="submit px-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}